# TLS CERT
CERT_PATH="path/to/tls.cert"
BASE64_CERT=""

# MACAROON
MACAROON_PATH="path/to/admin_64.macaroon"
BASE64_MACAROON="" 

SOCKET_URL="127.0.0.1:10009"

PUBLIC_PORT=4545

# APPLICATION
DEFAULT_INBOUND_LIQUIDITY=100000
DEFAULT_FEE_RATE=1000

